@charset "utf-8";

// 全体の設定
@mixin basic-config {
  * {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
}

// application関連
@mixin navigation($width, $height, $background-color) {
  width: $width;
  height: $height;
  background-color: $background-color;
}

@mixin ul-config($width, $height, $flex-direction) {
  width: $width;
  height: $height;
  display: flex;
  flex-direction: $flex-direction;
  margin-left: 15px;
}

@mixin nav-a($width, $height, $color, $font-size) {
  display: block;
  width: $width;
  height: $height;
  color: $color;
  font-size: $font-size;
  text-align: center;
  line-height: $height;
  &:hover {
    background-color: #0ead69;
  }
}
